<!DOCTYPE html>
<html>
  <head>
    <link href="/static/styles/foundation.css" rel="stylesheet" type="text/css">
    <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    <script src="/static/scripts/modernizr.js"></script>
  </head>
  <body ng-app="app">
    <div ui-view>
      stuff goes here
    </div>

    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/foundation.min.js"></script>
    <script src="/static/scripts/vendor.js"></script>
    <script src="/static/scripts/views.js"></script>
    <script src="/static/scripts/main.js"></script>

    
    <script>
     $(document).foundation();
    </script>
  </body>
</html>
